@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.navbar a img {
  width: 70%;
}

.navbar ul li a {
  margin-right: 40px;
  font-weight: 600;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.navbar ul li a:hover {
  color: lightcoral;
}

.navbar ul li .btn {
  background: #1a237e;
  color: #fff;
  width: 90px;
  box-shadow: none;
  outline: none;
}
.line{
  padding: 2px;
  margin-left: 20px;
    /* margin: 20px; */
    background-color: #00e676;
    width: 1px;
    height: 55px;
}
#banner {
  /* margin-top: 5px; */
  margin-bottom: 752px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner img {
  width: 80%;
  float: right;
  height: 30%;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* margin-right: 20px; */
}

.title {
  font-size: 33px;
  position: absolute;
  top: 52%;
  left: 7%;
  line-height: 60px;
  font-weight: 600;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#logos img {
  width: 60px;
  margin: 30px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#about-us {
  background: #e8f5e9;
  margin-bottom: 40px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
 
  /* padding-bottom: 500px; */
}

#about-us .card small {
  color: #81c784;
  font-weight: 600;
  font-size: 15px;
}

#about-us .card .card-body p {
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
}

#about-us .card .card-body h5 {
  color: #070d50;
  font-weight: 600;
  font-size: 27px;
  /* margin-top: 90px; */
}
.logos {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  flex-wrap: wrap;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.logos img {
  transition: all 0.5s;
}
.logos img:hover {
  transform: translateY(-10px);
}
.c {
  transition: all 0.5s;
  width: 26rem;
  height: 35rem;
  padding: 30px;
}
.c:hover {
  transform: translateY(-10px);
}
.c img {
  width: 80%;
  height: 59%;
  margin-top: -159px;
  margin-left: 59px;
  z-index: 1;
}

.c .card-body {
  margin-top: 80px;
}

.card-right {
  margin-top: 200px;
}
.card-left {
  margin-left: 50px;
}
.box {
  padding: 20px;
  height: 150px;
  width: 277px;
  background-color: #66ffa6;
  margin: 10px;
  margin-top: 20px;
  position: absolute;
}
.right-box {
  padding: 30px;
  height: 101px;
  width: 289px;
  background-color: #fbc02d;
  margin: 10px;
  margin-top: 60px;
  margin-left: 130px;
  position: absolute;
}

#services {
  margin-bottom: 100px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#services .services-title {
  font-size: 34px;
  color: #1a237e;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#services .details {
  margin-top: 80px;
}

#services .details p {
  color: #1a237e;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 100px;
}

.covid-title {
  font-size: 34px;
  color: #1a237e;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-bottom: 40px;
}

#covid {
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 240px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#impact {
  margin-bottom: 250px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.impact-title {
  font-size: 34px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-align: center;
}

.impact-subtitle {
  text-align: center;
  margin-bottom: 60px;
}
.impact-text {
  font-weight: 600;
  margin-bottom: 0;
}
.impact-body {
  margin-bottom: 50px;
}

.impact-box {
  background-color: #00e676;
  width: 100px;
  margin-top: -233px;
  padding: 144px;
  margin-left: 55px;
}
.text-muted {
  font-size: 15px;
}

.impact-img {
  width: 80%;
  margin-left: 100px;
}

.stats-title {
  font-size: 34px;
  color: #1a237e;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-bottom: 40px;
}

#stats .col-md-8 img {
  margin-left: 30px;
}
#stats .col-md-4 img {
  transition: all 0.5s;
  -webkit-animation: beat 0.7s ease 0s infinite normal;
  -moz-animation: beat 0.7s ease 0s infinite normal;
  animation: beat 0.9s ease 0s infinite normal;
}

#stats .col-md-4 img:hover {
  transform: translateY(-10px);
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes beat {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#stories {
  background: #e8f5e9;
  margin-bottom: 250px;
}

#footer {
  padding-top: 50px;
}

#footer .row {
  margin-top: 50px;
  margin-bottom: 20px;
}

.col-md-4 .footer-title {
  font-weight: 600;
  margin-bottom: 5px;
}
.location {
  line-height: 35px;
}

.footer-footer {
  margin-bottom: 20px;
}

.carousel .item {
  color: #999;
  font-size: 14px;

  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  margin: 0 auto;
}
.carousel .img-box {
  width: 100%;
  height: 600px;
  display: block;
  background: black;
}
.carousel .img-box img {
  width: 201%;
  height: 502px;
  margin-top: -83px;
  margin-left: -527px;
}
.slant {
  background: #00acc1;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  height: 400px;
  width: 650px;
  padding: 1em 3em 1em 3em;
  font-size: 20px;
  position: relative;
  z-index: 100;
}
.slant::after {
  content: " ";
  position: absolute;
  display: block;
  width: 674px;
  height: 100%;
  top: 0;
  left: 120px;
  z-index: -1;
  background: #00acc1;
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(19deg);
}
.scontent {
  /* background: #000; */
  width: 400px;
  margin: 10px;
  position: absolute;
  padding: 10px;
  top: 20%;
  right: -10px;
  bottom: -30px;
  /* -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -o-transform: skew(0deg); */
}
.skewLeft {
  height: 400px;
  width: 100%;
  margin-top: -10px;
  margin-right: -10px;
}

.blockquote p {
  line-height: 40px;
  font-size: 15px;
}
.blockquote a {
  display: inline-block;
  padding: 6px 16px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.blockquote a:hover {
  border: 1px solid #1a237e;
}

@media  only screen and (max-width: 1024px) {

  #logos {
    /* margin-top: -100px; */
    margin-top: -333px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box{
    height: 120px;
  }
  #about-us .card-left img{
    height: 30%;
    margin-top: -45px;
  }
  #about-us svg {
    width: 100%;
  }
  #about-us .card {
    width: 25rem;
  }

  #covid{
    margin-bottom: 100px;
  }
  .title {
    font-size: 16px;
    top: 0;
    margin-top: 241px;
    line-height: 50px;
    /* position: absolute; */
  }

  #stories .img{
    width: 30%;
  }
  .slant {
    display: none;
  }
  .scontent {
    display: block;
    position: absolute;
  }

  .col-md-4 .footer-title {
    text-align: center;
  }
  #footer {
    text-align: center;
  }
  .overlay-text {
    background: rgba(45, 15, 180, 0.8);
    width: 100%;
    margin: 10px;
    word-wrap: break-word;
   text-align: center;
    position: absolute;
    /* color: #001E13; */
    left: 0;
    bottom: -30px;
    /* -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg); */
  }
  #stories .card{
    width: 467px;
    margin: 27px;
  }
  #stories .img{
    width: 124%;
    margin-left: -25px;
    margin-bottom: 31px;
}

.laptop{
  margin-top: 269px;
}

#impact{
  text-align: center;
  margin-bottom: 100px;
}
.impact-box{
  margin-bottom: 20px;
} 

.details{
  margin-bottom: -65px
}
#services {
  margin-bottom: 160px;
}

}

.bt-card {
  padding: 100px;
  margin: 100px;
  width: 900px;
  margin-top: -161px;
  margin-left: 193px;
  background-color: #00acc1;
  margin-bottom: 400px;
}

.img {
  width: 250%;
  margin-left: -300px;
}

.stories-title {
  font-size: 34px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 50px;
}
.stories-title::before {
  content: "";
  background: #fff;
  height: 3px;
  width: 43px;
  margin-left: 6px;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.col-md-8 p {
  line-height: 30px;
  color: #fff;
}

.col-md-8 a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.col-md-8 a:hover {
  text-decoration: none;
  color: #fff;
  border: 1px solid #1a237e;
}

.stories-laptop {
  margin-top: -657px;
  text-align: center;
  margin-bottom: 400px;
}
.laptop {
  width: 65%;
}

@media (min-width: 768px)
{
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 51%;
}
}

#btnScrollToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5b66df;
  text-decoration: none;
  color: #fff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: none;
}

#btnScrollToTop:active{
  background: #1a237e;
  color: #fff;
}

.geo{
  margin-left: -27px;
}