@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* border: 2px solid yellow; */
  /* overflow-x: hidden; */
}

.navbar a img {
  width: 70%;
}

.navbar ul li a {
  margin-right: 40px;
  font-weight: 800;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* .navbar ul li a:hover {
  color: lightcoral;
} */

.navbar ul li .btn {
  /* background: #1a237e; */
  color: #1a237e;
  width: 120px;
  border: 1px solid #1a237e;
  box-shadow: none;
  outline: none;

}
.line{
  padding: 2px;
  margin-left: 20px;
    /* margin: 20px; */
    background-color: #00e676;
    width: 1px;
    height: 55px;
}
#banner {
  /* margin-top: 5px; */
  margin-bottom: 752px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#banner img {
  width: 80%;
  float: right;
  height: 30%;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* margin-right: 20px; */
}

.title {
  font-size: 33px;
  position: absolute;
  top: 52%;
  left: 7%;
  line-height: 60px;
  font-weight: bolder;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-title{
  width: 184px;
  height: 61px;
  background: #1a237e;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  padding-top: 18px;
}
#logos img {
  width: 60px;
  margin: 30px;
  margin-left: 103px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#about-us {
  background: #e8f5e9;
  margin-bottom: 40px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
 
  /* padding-bottom: 500px; */
}

#about-us .card small {
  color: #81c784;
  font-weight: 600;
  font-size: 15px;
}

#about-us .card .card-body p {
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
}

#about-us .card .card-body h5 {
  color: #070d50;
  font-weight: 600;
  font-size: 27px;
  /* margin-top: 90px; */
}

.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2caae1;
}

.owl-carousel .item {
  text-align: center;
}
.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  font-size: 120px;
  margin-top: -134px;
  left: -33px;
}
.owl-carousel .next-slide {
  font-size: 120px;
  right: -33px;
  margin-top: -134px;

}
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
  color: #2caae1;
}
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
  color: #2caae1;
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}
span.img-text:hover {
  color: #2caae1;
}

.logos {
  display: flex;
  flex-direction: row;
  margin-top: -30px;
  flex-wrap: wrap;
  text-align: center;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.owl-logo{
  margin-top: 20px;
}
.carousel-text{
  font-weight: 600;
  color: #1a237e;
  margin-top: 30px;
}
.logo-title{
  font-size: 32px;
  text-align: center;
  color: #16208b;
}
.logos img {
  transition: all 0.5s;
}
.logos img:hover {
  transform: translateY(-10px);
}
.c {
  transition: all 0.5s;
  width: 30rem;
  height: 35rem;
  padding: 30px;
}

.c img {
  width: 80%;
  height: 59%;
  object-fit: contain;
  margin-top: -159px;
  margin-left: 59px;
  z-index: 1;
}
.c-title{
  color: #3943af;
}
.rb1{
  margin-top: 50px;
}
.rb2{
  margin-top: 50px;
}
.rb3{
  margin-top: 50px;
}
.rb4{
  margin-top: 50px;
}
.card-right {
  margin-top: 200px;
}
.card-left {
  margin-left: 50px;
}
.learn-more{
  border: 1px solid #1a237e;
  color: #1a237e;
  width: 150px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 13px;
}

.right-box1 {
  padding: 30px;
  height: 101px;
  width: 289px;
  background-color: #66ffa6;
  margin: 10px;
  margin-top: 60px;
  margin-left: 130px;
  position: absolute;
}
.right-box {
  padding: 30px;
  height: 101px;
  width: 289px;
  background-color: #607d8b;
  margin: 10px;
  margin-top: 60px;
  margin-left: 130px;
  position: absolute;
}
.right-box2 {
  padding: 30px;
  height: 101px;
  width: 289px;
  background-color: #ffc046;
  margin: 10px;
  margin-top: 60px;
  margin-left: 130px;
  position: absolute;
}
.right-box3 {
  padding: 30px;
  height: 101px;
  width: 289px;
  background-color: #58a5ef;
  margin: 10px;
  margin-top: 60px;
  margin-left: 130px;
  position: absolute;
}

#services {
  margin-bottom: 100px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#services .services-title {
  font-size: 34px;
  color: #1a237e;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#services .details {
  margin-top: 80px;
}

#services .details p {
  color: #1a237e;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 100px;
}

.covid-title {
  font-size: 34px;
  color: #1a237e;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-bottom: 40px;
}

#covid {
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 240px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
#impact {
  margin-bottom: 100px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.impact-title {
  font-size: 34px;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-align: center;
  color: #1a237e;

}

.impact-subtitle {
  text-align: center;
  margin-bottom: 60px;
  color: #1a237e;
}
.impact-text {
  font-weight: 600;
  margin-bottom: 0;
}
.impact-body {
  display: flex;
 
  margin-bottom: 30px;
}
.imp-img{
  margin-right: 30px;
  width: 170px;
}
.imp-text{
  align-self: center;
  color: #1a237e;
  font-weight: 600;
}
.imp-subtext{
  color: #1a237e;
  font-weight: 600;
  margin-top: 17px;
  margin-left: 95px;
}

.text-muted {
  font-size: 15px;
}

.impact-img {
  width: 80%;
  margin-left: 100px;
}

#stats{
  background: #f6fff8;
  margin-bottom: 100px;
}
.stats-title {
  font-size: 34px;
  color: #1a237e;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  margin-bottom: 40px;
}

#stats .stat-infos img {
  transition: all 0.5s;
  -webkit-animation: beat 0.7s ease 0s infinite normal;
  -moz-animation: beat 0.7s ease 0s infinite normal;
  animation: beat 0.9s ease 0s infinite normal;
}

#stats .col-md-4 img:hover {
  transform: translateY(-10px);
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes beat {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#stories {
  background: #e8f5e9;
  margin-bottom: 250px;
}

#footer {
  padding-top: 50px;
}

#footer .row {
  margin-top: 50px;
  margin-bottom: 20px;
}

.col-md-4 .footer-title {
  font-weight: 600;
  margin-bottom: 5px;
}
.location {
  line-height: 35px;
}

.footer-footer {
  margin-bottom: 20px;
}

.carousel .item {
  color: #999;
  font-size: 14px;

  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  margin: 0 auto;
}
.carousel .img-box {
  width: 100%;
  height: 600px;
  display: block;
  background: black;
}
.carousel .img-box img {
  width: 201%;
  height: 502px;
  margin-top: -83px;
  margin-left: -527px;
}
.slant {
  background: #00acc1;
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  height: 400px;
  width: 650px;
  padding: 1em 3em 1em 3em;
  font-size: 20px;
  position: relative;
  z-index: 100;
}
.slant::after {
  content: " ";
  position: absolute;
  display: block;
  width: 674px;
  height: 100%;
  top: 0;
  left: 120px;
  z-index: -1;
  background: #00acc1;
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(19deg);
}
.scontent {
  /* background: #000; */
  width: 400px;
  margin: 10px;
  position: absolute;
  padding: 10px;
  top: 20%;
  right: -10px;
  bottom: -30px;
  /* -webkit-transform: skew(0deg);
  -moz-transform: skew(0deg);
  -o-transform: skew(0deg); */
}
.skewLeft {
  height: 400px;
  width: 100%;
  margin-top: -10px;
  margin-right: -10px;
}

.blockquote p {
  line-height: 40px;
  font-size: 15px;
}
.blockquote a {
  display: inline-block;
  padding: 6px 16px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.blockquote a:hover {
  border: 1px solid #1a237e;
}

@media  only screen and (max-width: 1024px) {

  #logos {
    /* margin-top: -100px; */
    margin-top: -143px;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 33px;
    flex-wrap: wrap;
  }
  #logos img{
    margin-left: 206px;
  }
  .box{
    height: 120px;
  }
  #about-us .card-left img{
    height: 30%;
    margin-top: -103px;
  }
  #about-us svg {
    width: 100%;
  }
  #about-us .card {
    width:22rem;
  }
.right-box1 {
  width: 171px;  
  margin-top: -21px;

}
.right-box {
  width: 178px;
  margin-top: 2px;
}
.right-box2{
  width: 153px;
  margin-top: -36px;
}
.right-box3{
  width: 170px;
  margin-top: -10px;
}
.rb2{
  margin-top: -23px;
}
.rb3{
  margin-top: -1px;
}
.rb4{
  margin-top: -43px;
}

  #covid{
    margin-bottom: 100px;
  }
  .title {
    font-size: 16px;
    top: 0;
    margin-top: 241px;
    line-height: 50px;
    /* position: absolute; */
  }

  #stories .img{
    width: 30%;
  }
  .slant {
    display: none;
  }
  .scontent {
    display: block;
    position: absolute;
  }

  .col-md-4 .footer-title {
    text-align: center;
  }
  #footer {
    text-align: center;
  }
  .overlay-text {
    background: rgba(45, 15, 180, 0.8);
    width: 100%;
    margin: 10px;
    word-wrap: break-word;
   text-align: center;
    position: absolute;
    /* color: #001E13; */
    left: 0;
    bottom: -30px;
    /* -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg); */
  }
  #stories .card{
    width: 467px;
    margin: 27px;
  }
  #stories .img{
    width: 124%;
    margin-left: -25px;
    margin-bottom: 31px;
}

.laptop{
  margin-top: 269px;
}

#impact{
  text-align: center;
  margin-bottom: 100px;
}
.impact-box{
  margin-bottom: 20px;
} 

.details{
  margin-bottom: -65px
}
#services {
  margin-bottom: 160px;
}


}

.bt-card {
  padding: 100px;
  margin: 100px;
  width: 900px;
  margin-top: -161px;
  margin-left: 193px;
  background-color: #00acc1;
  margin-bottom: 400px;
}

.img {
  width: 250%;
  margin-left: -300px;
}

.stories-title {
  font-size: 34px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 50px;
}
.stories-title::before {
  content: "";
  background: #fff;
  height: 3px;
  width: 43px;
  margin-left: 6px;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.col-md-8 p {
  line-height: 30px;
  color: #fff;
}

.col-md-8 a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.col-md-8 a:hover {
  text-decoration: none;
  color: #fff;
  border: 1px solid #1a237e;
}

.stories-laptop {
  margin-top: -657px;
  text-align: center;
  margin-bottom: 400px;
}
.laptop {
  width: 65%;
}

@media (min-width: 768px)
{
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 51%;
}
}

#btnScrollToTop{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #5b66df;
  text-decoration: none;
  color: #fff;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: none;
}

#btnScrollToTop:active{
  background: #1a237e;
  color: #fff;
}

.geo{
  margin-left: -27px;
}

@media  only screen and (min-width: 1300px) {
  .slant::after {
    width: 1297px;
  }
  .carousel .img-box img{
    width: 222%;
    margin-left: -643px;
  }
}
@media  only screen and (max-width: 700px) {
  .title{
    margin-top: 219px;
  }

 
}
@media  only screen and (max-width: 1200px){
  .hp{
    margin-top: 182px;
  } 
}
@media  only screen and (max-width: 500px){
  .nav-img{
    width: 50%;
  }

}

.lap-text{
  /* position: absolute; */
  margin-top: -386px;
  margin-left: -304px;
}

.main-text{
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  margin-left: 58px;
}
.sub-text{
  font-size: 24px;
  color: #fff;
  margin-left: 58px;
}
.lap-box{
  /* position: absolute; */
 
  width: 596px;
  height: 395px;
  opacity: 0.5;
  /* margin-left: 333px;
  margin-top: -432px; */
  background-color: black;
}